@import url("globalstyles.scss");
$colorBlue: #1673cf;
html, body{
  background: #ebe4e4;
  height: 100%;
  width: 100%;
}
.main{
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
header{
  background: rgba(40, 44, 52, 0.94);
  width: 100%;
  display: flex;
  align-items: center;
  & a{
    width: 15%;
    text-align: center;
  }
  & .title{
    font-family: 'Righteous', cursive;
    font-size: 23px;
    color: $colorBlue;
    margin-left: 20px;
  }
}
.menumain{
  background: rgba(40, 44, 52, 0.94);
  width: 15%;
  height: calc(100% - 0px);
  & .profile{
    position: relative;
    background: transparent;
    width: 100px;
    height:100px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 50%;
  }
  & .profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  & .profile p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  & .menu{
    width: 100%;
    margin-top: 90px;
  }
  & .menu ul li{
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    white-space: 600;
  }
  & .menu ul li span{
    margin-left: 30px;
  }
  & .menu ul li:hover{
    box-shadow: -2px 7px 3px -4px rgba(0,0,0,0.75);
    transition: .3s;
  }
  & .menu ul li svg{
    color: $colorBlue;
  }
}
.vistamodulos{
  width: calc(100% - 15%);
  height: calc(100% - 0px);
}
